.table-element{
    width: 100%;
    height: 800px;
    border-style: solid;
}
.row{
    border-style: solid;
}
.col{
    border-style: solid;
}

.main-div{
    width: 100%;
    height: 800px;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;

}
.chess-boxes{
    height: 94px;
    width: 12.05%;
    border-style: solid;
}

.white{
    background-color: white;
}
.black{
    background-color: black;
}
.highlight{
    background-color: chocolate;
}